@import "~bootstrap/scss/bootstrap";

.navbar {
    margin-bottom: 2rem;
}

#productCarousel {
    border: 1px ridge #e8d9d9;
}
.carousel {
	margin: 10px auto;
	padding: 0 70px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .carousel-item img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
.carousel .carousel-item .row {
    margin-top: 20px;
}
.carousel .thumb-wrapper {
	text-align: center;
    width: 100%;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel .item-price {
	font-size: 13px;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
