@import "~bootstrap/scss/bootstrap";

.navbar {
    margin-bottom: 2rem;
}

#productCarousel {
    border: 1px ridge #e8d9d9;
    margin-bottom: 2rem;
}
.carousel {
	margin: 10px auto;
	padding: 0 70px;
}
.carousel .carousel-item, .book-item {
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box, .book-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .carousel-item img, .book-item img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}
.carousel .carousel-item .row, .book-item .row {
    margin-top: 20px;
}
.thumb-wrapper {
	text-align: center;
    width: 100%;
}
.thumb-wrapper:hover {
    background-color: #f5f5f5;
}
.thumb-content {
	padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.item-price {
	font-size: 13px;
}
.item-price strike {
	color: #999;
	margin-right: 5px;
}
.item-price span {
	color: #86bd57;
	font-size: 110%;
}

.featured-books {
    border: 1px ridge #e8d9d9;
    margin-bottom: 2rem;
}
.book-detail img {
    width: 100%;
}
#buy-quantity {
    text-align: center;
}
form button {
    width: 100%;
}
.filter .card-body {
    padding: 8px !important;
}
footer {
    background-color: #f5f5f5;
    width: 100%;
}
#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
